sentencepiece
datasets
deepspeed==0.15.0
accelerate==0.31.0
peft>=0.11.1
bitsandbytes>=0.41.1
evaluate>=0.4.0
tokenizers==0.19.1
protobuf
transformers==4.43.4
openai>=1.0.0
tiktoken
jsonlines
flash-attn==2.6.3
rich
vllm>=0.5.4
tensorboard
wandb
spacy